<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.munit.launchconfig">
    <stringAttribute key="launch_mule_server_version" value="org.mule.tooling.server.4.4.0.ee"/>
    <listAttribute key="mule-project-names">
        <listEntry value="calculatorwsdl"/>
    </listAttribute>
    <booleanAttribute key="munit_run" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="calculatorwsdl"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Djava.library.path=&#13;&#10;-Dlog4j.skipJansi=true"/>
    <booleanAttribute key="run_coverage" value="true"/>
    <setAttribute key="test_names">
        <setEntry value="calculatorwsdl-test-suite-calculatorwsdlFlowTest"/>
    </setAttribute>
    <setAttribute key="test_resources">
        <setEntry value="calculatorwsdl-test-suite.xml"/>
    </setAttribute>
</launchConfiguration>
